In [1]:
import pandas as pd

In [2]:
newdf = pd.read_csv('tested.csv')
newdf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
newdf1 = newdf.iloc[:,[2,4,5,9]]
from sklearn.preprocessing import LabelEncoder
sex_n = LabelEncoder()
newdf1.loc[:,'Sex'] = sex_n.fit_transform(newdf1.loc[:,'Sex'])
newdf2 = newdf['Survived']
newdf1

c:\users\fujitsu\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

     Pclass  Sex   Age      Fare
0         3    1  34.5    7.8292
1         3    0  47.0    7.0000
2         2    1  62.0    9.6875
3         3    1  27.0    8.6625
4         3    0  22.0   12.2875
..      ...  ...   ...       ...
413       3    1   NaN    8.0500
414       1    0  39.0  108.9000
415       3    1  38.5    7.2500
416       3    1   NaN    8.0500
417       3    1   NaN   22.3583

[418 rows x 4 columns]

In [4]:
median = newdf1["Age"].mean()
median1 = newdf1["Fare"].mean()
newdf1["Age"]=newdf1["Age"].fillna(median)
newdf1['Fare']=newdf1["Age"].fillna(median1)
print(newdf1.head(),newdf2.head())

   Pclass  Sex   Age  Fare
0       3    1  34.5  34.5
1       3    0  47.0  47.0
2       2    1  62.0  62.0
3       3    1  27.0  27.0
4       3    0  22.0  22.0 0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

<ipython-input-4-2584d9d7f5ab>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf1["Age"]=newdf1["Age"].fillna(median)
<ipython-input-4-2584d9d7f5ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf1['Fare']=newdf1["Age"].fillna(median1)

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(newdf1, newdf2, test_size=0.2, random_state=42)

In [6]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
model.score(X_test, Y_test)

1.0

In [7]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_pred, Y_test)

array([[50,  0],
       [ 0, 34]], dtype=int64)