In [1]:
import pandas as pd
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [3]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [4]:
df.drop('Category',axis=1,inplace=True)
df.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df.Message,df.spam,test_size=0.25,random_state=42)
X_train.shape
Y_train.shape

(4179,)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
V=CountVectorizer()
X_train_count = V.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,Y_train)

MultinomialNB()

In [11]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = V.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [12]:
X_test_count = V.transform(X_test)
model.score(X_test_count,Y_test)

0.9885139985642498

In [13]:
# creating a pipeline
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectoriser', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [14]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectoriser', CountVectorizer()), ('nb', MultinomialNB())])

In [15]:
clf.score(X_test,Y_test)

0.9885139985642498